<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron">
        <h1>Bienvenue,</h1>

        <p>StartupUTC est un moteur de recherche des startups créées par les anciens étudiants de l'Université de Technologie de Compiègne.
          Le projet est actuellement en développement.</p>

        <p><a class="btn btn-primary btn-lg" href="https://github.com/sylvainma/StartupUTC" target="_blank">Contribuer sur Github</a></p>
      </div>


    </div>
  </div>
</div>
