<section ng-controller="HomeCtrl">
  <div class="page-header header-filter" style="background-image: url('assets/img/examples/office2.jpg');">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="title">Explorer le réseau des startups de l'UTC</h1>
              <h4>StartupUTC est un moteur de recherche des startups créées
                par le réseau des anciens étudiants de l'Université de Technologie de Compiègne.</h4>
          </div>
          </div>
          <div class="space-30"></div>
          <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card card-raised card-form-horizontal">
              <div class="content">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="form-group">
                      <input  type="text" ng-model="q" placeholder="Nom du projet, du produit" class="form-control"
                              uib-typeahead="startup.name_official for startup in typeahead($viewValue)"
                              typeahead-on-select="onSelect($item, $model, $label)" />

                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button ng-click="search()" class="btn btn-primary btn-block">Rechercher</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
