<section ng-controller="ContactCtrl">

  <div class="header header-filter">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brand">
            <h1>Contact</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
  	<div class="section contact-content">
  		<div class="container">
        <h2 class="title">Nous contacter</h2>
  		<div class="row">
  			<div class="col-md-6">
  				<p class="description">
            Pour tous renseignements, contributions ou recours, écrivez-nous. Nous vous répondrons très rapidement.<br><br>
  				</p>
  				<form role="form" id="contact-form" method="post">
  					<div class="form-group label-floating">
  						<label class="control-label">Nom</label>
  						<input type="text" ng-model="email.name" class="form-control">
  					</div>
  					<div class="form-group label-floating">
  						<label class="control-label">Email</label>
  						<input type="email" ng-model="email.email" class="form-control"/>
  					</div>
  					<div class="form-group label-floating">
  						<label class="control-label">Message</label>
  						<textarea ng-model="email.body" class="form-control" id="message" rows="6"></textarea>
  					</div>
  					<div class="submit text-center">
  						<input ng-click="send()" ng-disabled="sending || sent" class="btn btn-primary btn-raised btn-round" value="Envoyer" />
  					</div>
  				</form>

          <div class="space-30"></div>

          <div ng-show="error" class="alert alert-danger">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-2">
                  <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                  </div>
                </div>
                <div class="col-xs-8 text-center">
                  <b>Erreur</b>
                </div>
                <div class="col-xs-2">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                </div>
              </div>
              <div class="space-10"></div>
              <div class="row">
                <div class="col-xs-12">
                  <p>{{ error }}</p>
                </div>
              </div>
            </div>
	        </div>

          <div ng-show="sending" class="alert alert-info">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-2">
                  <div class="alert-icon">
                    <i class="material-icons">send</i>
                  </div>
                </div>
                <div class="col-xs-8 text-center">
                  <b>Envoi en cours</b>
                </div>
                <div class="col-xs-2"></div>
              </div>
              <div class="space-10"></div>
              <div class="row">
                <div class="col-xs-12">
                  <p>Veuillez patienter...</p>
                </div>
              </div>
            </div>
	        </div>

          <div ng-show="sent" class="alert alert-success">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-2">
                  <div class="alert-icon">
                    <i class="material-icons">send</i>
                  </div>
                </div>
                <div class="col-xs-8 text-center">
                  <b>Mail bien envoyé</b>
                </div>
                <div class="col-xs-2"></div>
              </div>
              <div class="space-10"></div>
              <div class="row">
                <div class="col-xs-12">
                  <p>Merci d'avoir pris contact avec nous. Nous vous répondrons très prochainement.</p>
                </div>
              </div>
            </div>
	        </div>

  			</div>

        <!-- Colonne droite -->
      	<div class="col-md-4 col-md-offset-2 contact-features">

        	<div class="info info-horizontal">
      			<div class="icon icon-primary">
      				<i class="material-icons">note_add</i>
      			</div>
      			<div class="description">
      				<h4 class="info-title">Contribuer</h4>
      				<p>Vous portez un projet que vous souhaitez référencer ? Écrivez-nous pour
              être référencé dans note moteur de recherche.</p>
      			</div>
        	</div>
          <div class="info info-horizontal">
      			<div class="icon icon-primary">
      				<i class="material-icons">cancel</i>
      			</div>
      			<div class="description">
      				<h4 class="info-title">Corriger des données</h4>
      				<p>Vous avez remarqué des données périmées ? Écrivez-nous pour
              mettre à jour ces informations.</p>
      			</div>
        	</div>
        	<div class="info info-horizontal">
      			<div class="icon icon-primary">
              <i class="material-icons">import_contacts</i>
      			</div>
      			<div class="description">
      				<h4 class="info-title">Recours</h4>
      				<p>Des informations vous concernant figurent sur ce site ?
                Vous ne souhaitez pas qu'elles apparaissent ?
                Écrivez-nous pour régler ce problème.</p>
      			</div>
        	</div>

        </div> <!-- ./Colonne droite -->

       </div>
    </div>
  </div>
  </div>

</section>

<main-footer></main-footer>
