/*! =========================================================
 *
 * StartupUTC
 *
 * ========================================================= */

@import 'material-kit/colors';
@import 'material-kit/variables';
@import 'material-kit/variables_bootstrap';

@import 'startuputc/helpers';
@import 'startuputc/typeahead';

/*
 * Startup
 * ========================================================= */

#contact .info {
  padding-top: 0px;
}

/*
 * Contact
 * ========================================================= */

.contact-features {
  .info {
    padding-top: 0px;
  }
}

/*
 * Search
 * ========================================================= */

.search-spinner {
  @media(min-width:$screen-sm){
    padding-top: 27px;
  }
}

.search-result-msg {
  min-height: 40px;
}

.list-group-item {
  .info {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.card-options {
  max-height: 365px;
  overflow-y: scroll;

  /* Force show scrollbar webkit */
  /* http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-os-x-trackpad-users-in-webki */
  &::-webkit-scrollbar {
      -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
      width: 11px;
  }

  &::-webkit-scrollbar:horizontal {
      height: 11px;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white; /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, .5);
  }

  &::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 8px;
  }
}

/*
 * Index-page
 * ========================================================= */

@mixin index-page {
    .wrapper .header-filter {
        min-height: 60vh;
    }
    .brand{
        margin-top: 18vh;
        color: #FFFFFF;
        text-align: center;
        overflow: auto;

        h1{
            font-size: 4.5em;
            font-weight: 600;
        }
        h3{
            font-size: 1.5em;
            text-transform: uppercase;
            max-width: 400px;
            margin: 10px auto 0;
        }
    }
    .section-basic{
        padding-top: 15px;
    }
    .header-filter:after{
      background: rgba($brand-primary, 0.64);
      background: linear-gradient(45deg,  rgba($brand-primary, 0.88) 0%, rgba($brand-primary, 0.45) 100%);
      background: -moz-linear-gradient(135deg,  rgba($brand-primary, 0.88) 0%, rgba($brand-primary, 0.45) 100%);
      background: -webkit-linear-gradient(135deg,  rgba($brand-primary, 0.88) 0%, rgba($brand-primary, 0.45) 100%);
    }
}

.index-page {
  @include index-page;
}
