<section ng-controller="SearchCtrl">

	<div class="header header-filter">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Explorer</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="section section-search">
			<div class="container text-center">
				<div class="row">
					<form>
						<div class="col-sm-offset-1 col-sm-8">
							<input 	ng-model="q" class="form-control input-lg" type="text" placeholder="Nom du projet, de la startup, mots clés, ...">
						</div>
						<div class="col-sm-1 search-spinner">
							<span ng-show="typeLoading || fetching">
								<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
							</span>
						</div>
						<div class="col-sm-1">
							<button ng-click="search()" class="btn btn-primary btn-lg" type="submit">Rechercher</button>
						</div>
				</form>
				</div>
				<div class="row">
					<div class="col-md-12 text-center search-result-msg">
						<h6 ng-show="results && !fetching">{{ results.length + ' résultat' + ((results.length > 0) ? 's' : '') }}</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="section section-gray">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3">
						<search-options depts="deptsChecked" fields="fieldsChecked" foundation="foundation" callback="update()"></search-options>
					</div>
					<div class="col-md-9" id="list">
						<search-results data="results"></search-results>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<main-footer></main-footer>
