.vertical-align {
    display: flex;
    align-items: center;
}

.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-100{
    height: 100px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-30{
    height: 30px;
    display: block;
}
.space-10{
    height: 10px;
    display: block;
}
