.message {
  padding: 10px 20px;
}

.dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
}

.uib-typeahead-match {
  background-color: transparent;
  &.active {
    a {
      background-color: $brand-primary;
      &:hover {
        background-color: $brand-primary;
      }
    }
  }

}
